* { box-sizing: border-box;}

.color {
  background-color: skyblue;
}

.ground {
  animation: move 10s steps(1000) infinite forwards;
}

.background {
  animation: move 8s steps(1000) infinite forwards;
}

.small-cloud {
  animation: slide-left 10s steps(1000) infinite forwards, down-up 10s steps(1000) infinite forwards;
}

.other-cloud {
  animation: slide-left 7s steps(1000) infinite forwards, down-up 5s steps(1000) infinite forwards;
}


.big-cloud {
  animation: slide-left 5s steps(1000) infinite forwards, down-up 10s steps(1000) infinite forwards;
}



@keyframes move {
  100% { background-position: -1680px 0px; }
}

@keyframes walk {
  100% { margin-left: 1024px;  }
}

@keyframes jump {
  50% { bottom: 226px; }
  100% { bottom: 113px; }
}

@keyframes slide-left {
  100% { margin-right: 1024px; }
}

@keyframes down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
}

@keyframes moverse {
    100% { margin-left: 800px; }
}

.background {
  width: 1024px;
  height: 768px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-image: url("images/fondo-real.png");
  margin: 0 auto;
}

.ground {
  background-image: url("images/suelo.png");
  width: 1680px;
  height: 113px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.dragon {
  width: 450px;
  height: 686px;
  background: url("images/gato2.gif") repeat-x;
  animation:moverse 10s steps(1000) infinite;
  position:relative;
  background-position:0;
  opacity: 0.7;
  bottom: 260px;
  margin-left: -455px;
}



.small-cloud {
  background-image: url("images/small-cloud.png");
  width: 204px;
  height: 156px;
  top: 0;
  right: 0;
  position: absolute;
  margin-right: -180px;
}


.dragon2 {
  width: 328px;
  height: 183px;
  background-image: url("images/gato5.png");
 animation: walk 2s steps(8) infinite, forward 14s steps(1000) infinite;
 position:relative;
 background-position:0;
 bottom: 210px;
 margin-left: -455px;
}

.big-cloud {
  background-image: url("images/big-cloud.png");
  width: 301px;
  height: 113px;
  top: 0;
  right: 0;
  position: absolute;
  margin-right: -302px;
}

.other-cloud {
  top: 100px;
  right: 100px;
}
